.dropdown-menu {
    position: absolute;
    background-color: var(--Base-Base-White);
    border-radius: var(--Radiuss);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    width: 100%;
    z-index: 3;
    box-shadow: 0px 2px 8px 0px #0000001A;
    overflow: scroll;
    max-height: 200px;
    top:100%;
    left:0;
}
.dropdown-menu.show {
    display: flex;
}
.dropdown-item{
    text-align: left;
    font-size: 14px;
    text-decoration: none;
    color: var(--Base-Base-Black);
    padding: var(--Spacings) var(--Spacingsm);
    background-color: var(--Base-Base-White);
}
.dropdown-item:hover {
    background-color: var(--Neutrals-Neutrals200);
}
.dropdown-item.logout{
    border-top: 1px solid var(--Neutrals-Neutrals200);
}