.auth-layout-top-and-children {
    height: 100%;
}

.auth-layout-top-children {
    padding: var(--Spacingl);
    height: calc(100% - 83px);
}

.auth-layout-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Base-Base-White);
    height: 42px;
    border-bottom: 1px solid var(--Neutrals-Neutrals200);
    padding: var(--Spacingml) var(--Spacingxl);
    user-select: none;
}

.auth-layout-top-text-container {
    display: flex;
    gap: var(--Spacings);
    color: var(--Neutrals-Neutrals700);
}

.auth-layout-top-text-main {
    font-size: 28px;
    font-weight: 500;
}

.auth-layout-top-text-sub {
    font-size: 28px;
    font-weight: 300;
}

.auth-layout-top-info-container {
    display: flex;
    gap: var(--Spacingl);
    align-items: center;
}

.auth-layout-top-info-check-in {
    display: flex;
    align-items: center;
    gap: var(--Spacings);
    border: 1px solid var(--Neutrals-Neutrals200);
    padding: var(--Spacings) var(--Spacingbase);
    border-radius: var(--Spacingxs);
    text-decoration: none;
    color: var(--Base-Base-Black);
    font-weight: 600;
    font-size: 14px;
}

.auth-layout-top-info-user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--Spacingm);
    cursor: pointer;
}

.auth-layout-top-info-user-profile {
    background-color: var(--Neutrals-Neutrals200);
    border-radius: var(--RadiusRound);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Neutrals-Neutrals700);
}