.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: Pretendard;
  src: url('../public/assets/font/pretendard/PretendardVariable.ttf') format('woff2');
  font-weight: 45 920;
  font-display: block;
}

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #FCFCFC;
}

.body-container {
  display: flex;
  height: auto;
  width: 100%;
}

.ant-btn-default {
  font-weight: 600;
  font-size: 14px;
  padding: 10px var(--Spacingm);
  border-radius: var(--Spacingxs);
  height: 44px;
}

:where(.css-dev-only-do-not-override-zfj5am).ant-checkbox-disabled .ant-checkbox-inner:after {
  border-color: var(--Neutrals-Neutrals200);
}

.ant-switch.ant-switch-checked {
  background-color: var(--Primary-Primary);
}

.body-hero-bold {
  font-size: 28px;
  font-weight: 700;
  font-family: Pretendard;
  line-height: 42px;
}

.body-caption-accent {
  font-size: 14px;
  font-weight: 600;
  font-family: Pretendard;
  line-height: 24px;
}

.body-content-accent {
  font-size: 16px;
  font-weight: 600;
  font-family: Pretendard;
  line-height: 24px;
}

.body-caption-standard {
  font-size: 14px;
  font-weight: 400;
  font-family: Pretendard;
  line-height: 24px;
}

.body-caption-standardp {
  font-size: 14px;
  font-weight: 400;
  font-family: Pretendard;
  line-height: 24px;
}

.body-content-accent {
  font-size: 16px;
  font-weight: 600;
  font-family: Pretendard;
  line-height: 28px;
}

.body-content-bold {
  font-size: 16px;
  font-weight: 700;
  font-family: Pretendard;
  line-height: 28px;
}

.body-content-standard {
  font-size: 16px;
  font-weight: 400;
  font-family: Pretendard;
  line-height: 28px;
}

.body-highlight-accent {
  font-size: 18px;
  font-weight: 600;
  font-family: Pretendard;
  line-height: 30px;
}

.body-highlight-bold {
  font-size: 18px;
  font-weight: 700;
  font-family: Pretendard;
  line-height: 30px;
}

.desktop-body-caption-regular {
  font-size: 14px;
  font-weight: 400;
  font-family: Pretendard;
  line-height: 24px;
}

.desktop-body-caption-accent {
  font-size: 14px;
  font-weight: 600;
  font-family: Pretendard;
  line-height: 24px;
}

.desktop-body-caption-standard {
  font-size: 14px;
  font-weight: 400;
  font-family: Pretendard;
  line-height: 24px;
}

.desktop-body-content-accent {
  font-size: 16px;
  font-weight: 600;
  font-family: Pretendard;
  line-height: 28px;
}

.desktop-body-content-bold {
  font-size: 16px;
  font-weight: 700;
  font-family: Pretendard;
  line-height: 28px;
}

.desktop-body-content-regular {
  font-size: 16px;
  font-weight: 400;
  font-family: Pretendard;
  line-height: 28px;
}

.desktop-body-highlight-accent {
  font-size: 18px;
  font-weight: 600;
  font-family: Pretendard;
  line-height: 30px;
}

.desktop-body-feature-standard {
  font-size: 24px;
  font-weight: 400;
  font-family: Pretendard;
  line-height: 40px;
}

.mobile-body-highlight-standard {
  font-size: 16px;
  font-weight: 400;
  font-family: Pretendard;
  line-height: 28px;
}

.mobile-headings-heading-3 {
  font-size: 20px;
  font-weight: 700;
  font-family: Pretendard;
  line-height: 24px;
}

.body-feature-emphasis {
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  text-align: center;
}

:root {
  --Base-Base-White: #FCFCFC;
  --Base-Base-Black: #090A0B;
  --Primary-Primary: #369AFF;
  --Primary-Primary100: #BEE0FF;
  --Primary-Primary200: #95CDFF;
  --Primary-Primary300: #6BB9FF;
  --Primary-Primary400: #4DA9FF;
  --Primary-Primary500: #369AFF;
  --Primary-Primary600: #348CF0;
  --Primary-Primary700: #307ADD;
  --Primary-Primary800: #2D68CA;
  --Primary-Primary900: #2749AB;
  --Primary-Primary50: #E4F3FF;
  --Secondary-Secondary: #AAB9C5;
  --Secondary-Secondary100: #E7EBEF;
  --Secondary-Secondary200: #DAE1E7;
  --Secondary-Secondary300: #CED7DE;
  --Secondary-Secondary400: #C2CDD6;
  --Secondary-Secondary500: #B6C3CD;
  --Secondary-Secondary600: #92A5B5;
  --Secondary-Secondary700: #7991A4;
  --Secondary-Secondary800: #637D92;
  --Secondary-Secondary900: #4A5E6D;
  --Secondary-Secondary1000: #323F49;
  --Success-Success: #15B097;
  --Success-Success100: #B2E3D9;
  --Success-Success200: #7FD2C1;
  --Success-Success300: #49BFA9;
  --Success-Success50: #E0F4F0;
  --Success-Success400: #15B097;
  --Success-Success500: #00A184;
  --Success-Success600: #009478;
  --Success-Success700: #008368;
  --Success-Success800: #007359;
  --Success-Success900: #00573E;
  --Warning-Warning: #FFAF4D;
  --Warning-Warning100: #FDC886;
  --Warning-Warning200: #FFAF4D;
  --Warning-Warning300: #CC7914;
  --Error-Error: #EF5350;
  --Error-Error300: #E57373;
  --Error-Error400: #EF5350;
  --Error-Error500: #E53935;
  --Error-Error200: #EF9A9A;
  --Error-Error50: #FFEBEE;
  --Error-Error600: #D32F2F;
  --Error-Error100: #FFCDD2;
  --Error-Error700: #B71C1C;
  --Neutrals-Neutrals100: #E8EBED;
  --Neutrals-Neutrals200: #D2D6DB;
  --Neutrals-Neutrals300: #BBC2C9;
  --Neutrals-Neutrals400: #A4ADB6;
  --Neutrals-Neutrals500: #828F9B;
  --Neutrals-Neutrals600: #64707D;
  --Neutrals-Neutrals700: #40474F;
  --Neutrals-Neutrals800: #2D3339;
  --Neutrals-Neutrals900: #2B2829;
  --Neutrals-Neutrals50: #F2F3F5;
  --Transparent-T100: #0000004d;
  --Transparent-T200: #000000b3;
  --Transparent-T300: #000000e6;
  --Spacingbase: 16px;
  --Spacingxxs: 2px;
  --Spacingxs: 4px;
  --Spacings: 8px;
  --Spacingsm: 12px;
  --Spacingm: 14px;
  --Spacingml: 20px;
  --Spacingl: 24px;
  --Spacingxl: 40px;
  --Radiusxs: 2px;
  --Radiuss: 4px;
  --Radiussm: 8px;
  --Radiusm: 12px;
  --Radiusml: 16px;
  --Radiuslg: 24px;
  --Radiusxl: 36px;
  --RadiusRound: 999px;
  --Blue-B100: #BEE0FF;
  --Blue-B200: #95CDFF;
  --Blue-B300: #6BB9FF;
  --Blue-B600: #348CF0;
  --Blue-B400: #4DA9FF;
  --Blue-B500: #369AFF;
  --Blue-B700: #307ADD;
  --Blue-B800: #2D68CA;
  --Blue-B900: #2749AB;
  --Blue-B50: #E4F3FF;
  --Green-E400: #15B097;
  --Green-E100: #B2E3D9;
  --Green-E50: #E0F4F0;
  --Green-E200: #7FD2C1;
  --Green-E300: #49BFA9;
  --Green-E500: #00A184;
  --Green-E600: #009478;
  --Green-E700: #008368;
  --Green-E800: #007359;
  --Green-E900: #00573E;
  --Orange-O100: #FDC886;
  --Orange-O200: #FFAF4D;
  --Orange-O300: #CC7914;
  --Red-R300: #E57373;
  --Red-R400: #EF5350;
  --Red-R500: #E53935;
  --Red-R200: #EF9A9A;
  --Red-R50: #FFEBEE;
  --Red-R100: #FFCDD2;
  --Red-R600: #D32F2F;
  --Red-R700: #B71C1C;
  --Gray-white: #FCFCFC;
  --Gray-G50: #F2F3F5;
  --Gray-G100: #E8EBED;
  --Gray-G200: #D2D6DB;
  --Gray-G300: #BBC2C9;
  --Gray-G400: #A4ADB6;
  --Gray-G500: #828F9B;
  --Gray-G600: #64707D;
  --Gray-G700: #40474F;
  --Gray-G800: #2D3339;
  --Gray-G900: #2B2829;
  --Gray-Balck: #090A0B;
}